In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
import datetime as dt

In [2]:
def get_obj_val(d,i_a):
    # input: a vector d which is the demand from 
    val = 0
    for i in range(len(d)):
        val = val + np.maximum(h*(i_a -np.sum(d[0:i+1])),0) + np.maximum(b*(np.sum(d[0:i+1])-i_a),0)
        #print('val updated to', val)
    return val
    
def opt_order(d, inv):
    pre_val = 10000000
    pre_order = -100
    if len(d) == 0:
#        print('d zero length!')
        return 0
    for i in (np.array(range(len(d)))[::-1]):
        #print(i)
        temp_val = get_obj_val( d , np.sum(d[0:i+1]))
        temp_order = np.sum(d[0:i+1]) -inv
        if (temp_val > pre_val ):
#            print('checked point ',i,'val is', temp_val)
#            print('temp_val', temp_val,'temp_order', temp_order)
#            print('pre_val', pre_val,'pre_order', pre_order)
            return np.maximum(pre_order,0)
        else:
#            print('checked point ',i,'val is', temp_val)
            pre_val = temp_val
            pre_order = temp_order
#    print('keep decreasing')  
    return np.maximum(temp_order,0)

In [3]:
df_sales = pd.read_csv('../data/1320/rdc_sales_1320_replenishment_V1_filled_pp.csv', index_col=0)
# df_orders = pd.read_csv('total.csv', error_bad_lines = False)

In [4]:
df_sales = df_sales.rename(columns=lambda x : (dt.datetime(2016,1,1) + dt.timedelta(days=int(x)-730)).date())

In [5]:
df_sales = df_sales.iloc[:,-62:].reset_index()

In [72]:
df_orders = pd.read_csv('../data/1320_feature/features_v11.csv')

In [73]:
df_orders_orig = df_orders
df_orders_orig['overall_opt_order'] = -1*np.ones(len(df_orders_orig))
df_orders_orig['inv'] = np.zeros(len(df_orders_orig))
df_orders_orig['d_vlt'] = np.zeros(len(df_orders_orig))
df_orders_orig['initial_stock_overall'] = np.zeros(len(df_orders_orig))

df_sales_orig = df_sales

#####get unique (sku,dc) pair
df_pair1 = df_orders[['item_sku_id']].drop_duplicates()
df_pair2 = df_sales[['row']].drop_duplicates()
df_pair2.columns = ['item_sku_id']

pair_list = pd.merge(df_pair1, df_pair2, how='inner', on=['item_sku_id']).values

In [74]:
df_orders_orig = df_orders_orig[df_orders_orig['item_sku_id'].isin(pair_list.T[0])]

In [75]:
h = 1
b = 9

# START_DAY = 547 #the first day of calculation period with reference to 2016/01/01
START_DAY = 912

In [76]:
df_orders_orig.columns

Index(['item_sku_id', 'int_org_num', 'pur_bill_id', 'item_first_cate_cd',
       'item_second_cate_cd', 'item_third_cate_cd', 'brand_code',
       'create_day_of_week', 'create_tm', 'complete_dt',
       ...
       'eq', 'next_complete_dt', 'demand_RV', 'demand_V', 'target_decision',
       'target_decision_nobc', 'overall_opt_order', 'inv', 'd_vlt',
       'initial_stock_overall'],
      dtype='object', length=142)

In [77]:
row_index = 0
for i in tqdm(range(len(pair_list))): #

    sku_dc = pair_list[i][0]
#     if(i%100==0):
#         print(i)
    
    df_orders = df_orders_orig[df_orders_orig.item_sku_id == sku_dc ]

    if(len(df_orders)!=0):
        order_time = np.array(df_orders['create_tm_index'])-START_DAY
        arrive_time = np.array(df_orders['complete_dt_index'])-START_DAY
        
        init_inv0 = np.array(df_orders['initial_stock'])
        
#         demand = df_sales_orig[df_sales_orig.sku_id == sku]
#         demand = demand[demand.int_org_num == dc].values
#         demand = np.delete(demand, 0)
#         demand = np.delete(demand, 0)        
        demand = df_sales_orig[df_sales_orig.row == sku_dc].values[0][1:]

        #demand = demand[366:]
        init_inv = []
        for i in range(len(order_time)):
            init_inv.append(init_inv0[i] - np.sum(demand[order_time[i]:arrive_time[i]]))
        init_inv = np.array(init_inv) 
    
#         hist_order = df_orders['actual_pur_qtty'].values
        #hist_target = df_orders['target_decision'].values
    
        #######compute inv level at v1    
        #print(init_inv)     
        inv = init_inv[0]
    
        order_list = []
        
#         row_index = df_orders_orig[(df_orders_orig['sku_id'] == sku )& (df_orders_orig['int_org_num'] == dc)]\
#                                 .index.values[0]#.astype(int)
        
#         print(row_index)
    
        for i in range(len(order_time)):
            #print('computing ', i, ' th order')
            if i == len(order_time)-1:
                d = demand[arrive_time[i]:]
                #print('last d', d)
            else:
                d = demand[arrive_time[i]:arrive_time[i+1]]
#               print('d is', d)
#               print('inv is', inv)
            order = opt_order(d,inv)
            # print(i, ' th order is', order)
            order_list.append(order)
            
            df_orders_orig.iloc[row_index, -4]= order
            df_orders_orig.iloc[row_index, -3]= inv
            df_orders_orig.iloc[row_index, -2]= np.sum(demand[order_time[i]:arrive_time[i]])
            df_orders_orig.iloc[row_index, -1]= inv+np.sum(demand[order_time[i]:arrive_time[i]])
            
#           #if (i%3 == 2) and (i >=2) and (inv == 0)and (i+1 < len(order_time)):
#           #print('NOTICE !!! USE HIST INV AGAIN !!!!!!!')
#           #inv = init_inv[i+1]
#        #else:
            inv = inv + order - np.sum(d)
            row_index += 1

100%|██████████| 32881/32881 [22:37<00:00, 24.22it/s]

In [79]:
# df_orders_orig = df_orders_orig.sort_values(['sku_id', 'int_org_num', 'create_tm_index'], ascending=[True, True, True])
df_orders_orig.to_csv('../data/1320_feature/features_v12.csv', index=False)

In [78]:
df_orders_orig[df_orders_orig['item_sku_id']=='319993#4']

,item_sku_id,int_org_num,pur_bill_id,item_first_cate_cd,item_second_cate_cd,item_third_cate_cd,brand_code,create_day_of_week,create_tm,complete_dt,...,eq,next_complete_dt,demand_RV,demand_V,target_decision,target_decision_nobc,overall_opt_order,inv,d_vlt,initial_stock_overall
465,319993#4,4,54181909,1320,5019,5022,7709,5,2018-07-05 04:55:14,2018-07-10 23:04:24,...,268.272783,2018-08-06 23:16:06,63.0,10.0,34.0,34.0,33.0,19.0,10,29.0
466,319993#4,4,56716871,1320,5019,5022,7709,3,2018-07-31 04:56:26,2018-08-06 23:16:06,...,243.661588,2018-08-31 00:00:00,26.0,6.0,1.0,1.0,19.0,-1.0,6,5.0

In [43]:
df_orders_orig

,item_sku_id,int_org_num,pur_bill_id,item_first_cate_cd,item_second_cate_cd,item_third_cate_cd,brand_code,create_day_of_week,create_tm,complete_dt,...,review_period,next_complete_dt,demand_RV,demand_V,target_decision,target_decision_nobc,overall_opt_order,inv,d_vlt,initial_stock_overall
0,258214#3,3,54484267,1320,5019,5022,4537,2,2018-07-09 05:16:27,2018-07-15 10:19:21,...,7.013715,2018-07-22 16:45:02,2204.0,1106.0,1214.0,1098.0,33.0,19.0,10,29.0
1,258214#3,3,55142334,1320,5019,5022,4537,2,2018-07-16 05:36:12,2018-07-22 16:45:02,...,6.984097,2018-07-29 14:11:37,2371.0,1098.0,739.0,739.0,19.0,-1.0,6,5.0
2,258214#3,3,55847850,1320,5019,5022,4537,2,2018-07-23 05:13:18,2018-07-29 14:11:37,...,6.984444,2018-08-04 16:34:00,2209.0,1273.0,1013.0,936.0,33.0,19.0,10,29.0
3,258214#3,3,56550600,1320,5019,5022,4537,2,2018-07-30 04:50:54,2018-08-04 16:34:00,...,1.417975,2018-08-04 16:27:58,936.0,936.0,21.0,0.0,19.0,-1.0,6,5.0
4,258214#3,3,56764306,1320,5019,5022,4537,3,2018-07-31 14:52:47,2018-08-04 16:27:58,...,7.062083,2018-08-14 15:46:14,2478.0,736.0,1685.0,1685.0,1341.0,0.0,555,555.0
5,258214#3,3,57501887,1320,5019,5022,4537,3,2018-08-07 16:22:11,2018-08-14 15:46:14,...,5.543704,2018-08-18 14:39:14,2038.0,1468.0,0.0,0.0,1048.0,-340.0,1226,886.0
6,258214#3,3,58077104,1320,5019,5022,4537,2,2018-08-13 05:25:07,2018-08-18 14:39:14,...,6.987188,2018-08-25 14:41:32,2244.0,1152.0,449.0,449.0,1015.0,0.0,1048,1048.0
7,258214#3,3,58870686,1320,5019,5022,4537,2,2018-08-20 05:06:40,2018-08-25 14:41:32,...,10.787037,2018-08-31 00:00:00,2051.0,955.0,355.0,355.0,1277.0,0.0,774,774.0
8,258214#4,4,54484260,1320,5019,5022,4537,2,2018-07-09 05:16:27,2018-07-18 23:17:14,...,7.013704,2018-07-25 23:25:03,450.0,249.0,411.0,201.0,379.0,-210.0,249,39.0
9,258214#4,4,55142241,1320,5019,5022,4537,2,2018-07-16 05:36:11,2018-07-25 23:25:03,...,13.968160,2018-08-08 23:09:21,559.0,253.0,559.0,306.0,286.0,0.0,221,221.0
10,258214#4,4,56545082,1320,5019,5022,4537,2,2018-07-30 04:50:20,2018-08-08 23:09:21,...,7.017778,2018-08-15 23:17:53,431.0,229.0,268.0,202.0,214.0,-21.0,198,177.0
11,258214#4,4,57310778,1320,5019,5022,4537,2,2018-08-06 05:15:56,2018-08-15 23:17:53,...,1.462674,2018-08-15 23:16:22,273.0,273.0,253.0,0.0,0.0,0.0,233,233.0
12,258214#4,4,57501880,1320,5019,5022,4537,3,2018-08-07 16:22:11,2018-08-15 23:16:22,...,5.543704,2018-08-22 23:11:29,400.0,254.0,391.0,146.0,172.0,0.0,214,214.0
13,258214#4,4,58077088,1320,5019,5022,4537,2,2018-08-13 05:25:07,2018-08-22 23:11:29,...,6.987188,2018-08-27 23:19:52,366.0,251.0,243.0,115.0,103.0,0.0,237,237.0
14,258214#4,4,58870672,1320,5019,5022,4537,2,2018-08-20 05:06:40,2018-08-27 23:19:52,...,10.787037,2018-08-31 00:00:00,264.0,181.0,85.0,83.0,109.0,0.0,155,155.0
15,258214#5,5,55141885,1320,5019,5022,4537,2,2018-07-16 05:36:08,2018-07-25 15:09:34,...,20.985972,2018-08-14 17:31:17,995.0,330.0,995.0,665.0,911.0,-306.0,306,0.0
16,258214#5,5,57310768,1320,5019,5022,4537,2,2018-08-06 05:15:56,2018-08-14 17:31:17,...,7.006377,2018-08-23 14:31:03,565.0,302.0,565.0,263.0,327.0,-69.0,287,218.0
17,258214#5,5,58077094,1320,5019,5022,4537,2,2018-08-13 05:25:07,2018-08-23 14:31:03,...,17.774225,2018-08-31 00:00:00,523.0,315.0,523.0,208.0,228.0,0.0,295,295.0
18,258214#6,6,56550558,1320,5019,5022,4537,2,2018-07-30 04:50:54,2018-08-06 16:24:26,...,1.417975,2018-08-06 16:24:57,939.0,939.0,809.0,0.0,0.0,-682.0,812,130.0
19,258214#6,6,56764305,1320,5019,5022,4537,3,2018-07-31 14:52:47,2018-08-06 16:24:57,...,7.592269,2018-08-13 16:38:35,1810.0,798.0,1810.0,1012.0,1661.0,-682.0,671,-11.0
20,258214#6,6,57568503,1320,5019,5022,4537,4,2018-08-08 05:05:39,2018-08-13 16:38:35,...,5.013519,2018-08-21 19:39:29,1966.0,864.0,0.0,0.0,1171.0,0.0,704,704.0
21,258214#6,6,58077100,1320,5019,5022,4537,2,2018-08-13 05:25:07,2018-08-21 19:39:29,...,6.987188,2018-08-26 19:07:53,1741.0,1262.0,0.0,0.0,499.0,0.0,1171,1171.0
22,258214#6,6,58870684,1320,5019,5022,4537,2,2018-08-20 05:06:40,2018-08-26 19:07:53,...,10.787037,2018-08-31 00:00:00,1322.0,787.0,0.0,0.0,606.0,0.0,716,716.0
23,258214#9,9,55141893,1320,5019,5022,4537,2,2018-07-16 05:36:08,2018-07-26 23:18:37,...,13.968183,2018-08-08 23:36:33,766.0,359.0,766.0,407.0,720.0,-359.0,359,0.0
24,258214#9,9,56544883,1320,5019,5022,4537,2,2018-07-30 04:50:19,2018-08-08 23:36:33,...,7.017789,2018-08-18 00:17:22,609.0,288.0,267.0,267.0,307.0,-11.0,253,242.0
25,258214#9,9,57310779,1320,5019,5022,4537,2,2018-08-06 05:15:56,2018-08-18 00:17:22,...,7.006377,2018-08-22 23:53:25,487.0,390.0,317.0,97.0,134.0,-27.0,357,330.0
26,258214#9,9,58077096,1320,5019,5022,4537,2,2018-08-13 05:25:07,2018-08-22 23:53:25,...,6.987188,2018-08-28 23:06:51,481.0,304.0,212.0,177.0,169.0,0.0,281,281.0
27,258214#9,9,58870681,1320,5019,5022,4537,2,2018-08-20 05:06:40,2018-08-28 23:06:51,...,10.787037,2018-08-31 00:00:00,338.0,257.0,172.0,81.0,112.0,0.0,226,226.0
28,258214#10,10,55141902,1320,5019,5022,4537,2,2018-07-16 05:36:08,2018-07-25 19:56:34,...,13.968600,2018-08-08 15:06:21,3032.0,1235.0,3038.0,1797.0,2740.0,-1203.0,1197,-6.0
29,258214#10,10,56550720,1320,5019,5022,4537,2,2018-07-30 04:50:55,2018-08-08 15:06:21,...,7.017373,2018-08-15 14:36:17,2201.0,1272.0,1154.0,929.0,1098.0,-153.0,1127,974.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146668,8413436#3,3,59320006,1320,1584,2677,51139,5,2018-08-23 13:46:19,2018-08-29 17:18:41,...,7.426169,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146669,8413436#4,4,58629610,1320,1584,2677,51139,6,2018-08-17 11:11:47,2018-08-26 23:19:37,...,13.533484,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146670,8413436#6,6,58629633,1320,1584,2677,51139,6,2018-08-17 11:11:47,2018-08-25 17:14:08,...,13.533484,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146671,8413436#10,10,58629627,1320,1584,2677,51139,6,2018-08-17 11:11:47,2018-08-26 18:04:29,...,9.765301,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146672,8416848#10,10,59676254,1320,1583,1591,164422,2,2018-08-27 05:33:49,2018-08-28 16:11:08,...,3.768183,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146673,8454474#3,3,59197204,1320,1583,1591,3979,4,2018-08-22 14:38:10,2018-08-27 14:14:07,...,8.390162,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146674,8454474#4,4,59197208,1320,1583,1591,3979,4,2018-08-22 14:38:10,2018-08-27 23:17:48,...,8.390162,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146675,8454474#5,5,59197216,1320,1583,1591,3979,4,2018-08-22 14:38:10,2018-08-27 11:48:05,...,8.390162,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146676,8454474#6,6,59197206,1320,1583,1591,3979,4,2018-08-22 14:38:10,2018-08-26 11:27:57,...,8.390162,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146677,8454474#10,10,59197211,1320,1583,1591,3979,4,2018-08-22 14:38:10,2018-08-26 10:19:43,...,8.390162,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146678,8454474#545,545,59197202,1320,1583,1591,3979,4,2018-08-22 14:38:10,2018-08-25 13:23:43,...,8.390162,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146679,8454474#772,772,59197213,1320,1583,1591,3979,4,2018-08-22 14:38:10,2018-08-27 13:18:28,...,7.087060,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146680,8457197#610,610,60006970,1320,5019,5022,15232,4,2018-08-29 16:43:32,2018-08-30 10:37:44,...,1.303102,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146681,8502773#3,3,58527128,1320,1583,1591,8558,5,2018-08-16 13:57:28,2018-08-20 14:53:28,...,14.418426,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146682,8502773#5,5,58527133,1320,1583,1591,8558,5,2018-08-16 13:57:28,2018-08-23 18:46:59,...,14.418426,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146683,8502773#6,6,58527132,1320,1583,1591,8558,5,2018-08-16 13:57:28,2018-08-22 18:35:51,...,14.418426,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146684,8502773#10,10,58527135,1320,1583,1591,8558,5,2018-08-16 13:57:28,2018-08-22 21:02:41,...,14.418426,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146685,8502773#316,316,58527134,1320,1583,1591,8558,5,2018-08-16 13:57:28,2018-08-24 00:14:23,...,14.418426,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146686,8502773#772,772,58527142,1320,1583,1591,8558,5,2018-08-16 13:57:28,2018-08-22 19:15:37,...,7.027859,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146687,8502785#3,3,59326676,1320,1584,2677,49444,5,2018-08-23 14:37:35,2018-08-30 22:12:14,...,7.390567,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146688,8502785#10,10,59326679,1320,1584,2677,49444,5,2018-08-23 14:37:35,2018-08-29 17:21:57,...,7.390567,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146689,8502785#610,610,58631036,1320,1584,2677,49444,6,2018-08-17 11:18:12,2018-08-22 19:46:12,...,10.096123,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146690,8533573#772,772,59724461,1320,1583,1591,9367,2,2018-08-27 13:36:37,2018-08-29 17:45:07,...,3.432905,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146691,8625955#3,3,58629618,1320,1584,2677,51139,6,2018-08-17 11:11:47,2018-08-23 16:16:12,...,6.107315,2018-08-29 17:18:41,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146692,8625955#3,3,59320006,1320,1584,2677,51139,5,2018-08-23 13:46:19,2018-08-29 17:18:41,...,7.426169,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146693,8625955#4,4,58629610,1320,1584,2677,51139,6,2018-08-17 11:11:47,2018-08-26 23:19:37,...,13.533484,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146694,8626405#3,3,58273432,1320,1583,1591,18562,3,2018-08-14 15:17:57,2018-08-19 22:18:08,...,10.028831,2018-08-30 22:29:17,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146695,8626405#3,3,59450618,1320,1583,1591,18562,6,2018-08-24 15:59:28,2018-08-30 22:29:17,...,6.333704,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146696,8626405#7,7,58273417,1320,1583,1591,18562,3,2018-08-14 15:17:54,2018-08-20 23:16:59,...,10.028843,2018-08-30 22:12:33,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0
146697,8626405#7,7,59450611,1320,1583,1591,18562,6,2018-08-24 15:59:26,2018-08-30 22:12:33,...,NaN,2018-08-31 00:00:00,NaN,NaN,NaN,NaN,-1.0,0.0,0,0.0